*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 24px;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif;
}
a, a:hover{
	text-decoration: none;
}
/*Header section goes here*/
.header-section{
	width: 100%;
	background: url("../images/banner.png") center right no-repeat;
	background-size: cover; 
}
.menu-section{
	width: 100%;
}
.menu-section .bg-light{
	background: transparent !important; 
}
.menu-section .navbar-light .navbar-nav .nav-link {
    color: #1a1a1a;
    font-size: 15px;
    font-weight: 600;
    margin: 0px 10px;
}
.menu-section .navbar-light .navbar-nav .nav-link:hover, .menu-section .navbar-light .navbar-nav .nav-link:focus{
	color: #511de5;
	background: url("../images/underline.png") center bottom no-repeat;
	background-size: contain;
}
.menu-section .right-login .nav-link {
	color: #1a1a1a;
    font-size: 14px;
    font-weight: 600;
    margin: 0px 12px;
}
.menu-section .right-login .nav-link:hover{
	color: #511de5;
	background: url("../images/underline.png") center bottom no-repeat;
	background-size: contain;
}
.menu-section .right-login .btn-info {
    padding: 10px 45px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border-radius: 35px;
    background: linear-gradient(to right, #511de5 55%, #0d89fb);
    border: 1px solid #511de5;
}
.menu-section .right-login .btn-info:hover, .menu-section .right-login .btn-info:focus{
	color: #511de5; 
	background: transparent;
	border: 1px solid #511de5;
	transition: 2s;
	box-shadow: none;
}
/*banner section goes here*/
.banner-section{
	width: 100%;
	padding: 90px 0px;
}
.banner-section .banner-inner{
	width: 100%;
	padding: 100px 0px 120px;
}
.banner-section .banner-inner h1 {
    width: 100%;
    font-size: 56px;
    line-height: 66px;
    font-weight: 500;
    margin-bottom: 20px;
}
.banner-section .banner-inner h1 span{
	color: #511de5; 
}
.banner-section .banner-inner .btn-info{
	padding: 10px 30px;
	margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #1a1a1a;
    text-transform: uppercase;
    border-radius: 35px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2; 
    transition: 1s;
}
.banner-section .banner-inner .btn-info:hover, .banner-section .banner-inner .btn-info:focus{
	color: #fff;
    background: linear-gradient(to right, #511de5 55%, #0d89fb);
    border: 1px solid #511de5; 
    box-shadow: none;
    outline: none;
}
/**************************************/
.highlight-section{
	width: 100%;
	padding: 50px 0px;
	background: url("../images/highlight.png") center center no-repeat;
	background-size: cover;
	position: relative;
}
.highlight-section .absu{
	position: absolute;
	top: -195%;
}
.highlight-section .highlight-inner h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0px;
}
/***********************************/
.feature{
	width: 100%;
	padding: 100px 0px 0px;
}
.feature .feature-inner{
	width: 100%;
	padding: 120px 120px 191px;
	background: url("../images/fe.png") center bottom no-repeat;
	background-size: cover;
}
.feature .feature-inner h1{
	color: #1a1a1a;
    font-size: 60px;
    line-height: 60px;
    font-weight: 900;
    margin-bottom: 30px;
}
.feature .feature-inner p{
	color: #1a1a1a;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 50px;
}
.feature .feature-inner h4 strong{
	font-size: 110px;
    line-height: 120px;
    font-weight: 900;
    color: #511de5;
    margin-bottom: 20px;
}
.feature .feature-inner h4 span{
	font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 20px;
}
.client{
	width: 100%;
	padding: 40px 0px;
	text-align: center;
}
.client img{
	width: 80%;
}
/*********************************/
.intro-quote{
	width: 100%;
	padding: 150px 0px 140px;
	background: url("../images/d.png") center top no-repeat;
	background-size: cover;
}
.pic-quote{
	width: 100%;
	padding: 150px 105px;
	background: url("../images/qt.png") center center no-repeat;
	background-size: contain;
}
.pic-quote p{
	font-size: 14px;
	color: #fff;
	margin: 20px 0px 30px 25px;
}
.pic-quote h5{
	font-size: 15px;
	font-weight: 700;
	color: #fff;
	margin: 20px 0px 30px 25px;
}
.quote-des{
	width: 100%;
	padding: 100px 30px;
}
.quote-des h1{
	color: #1a1a1a;
    font-size: 50px;
    line-height: 50px;
    font-weight: 900;
    margin-bottom: 30px;
} 
.quote-des .btn-info{
	padding: 10px 30px;
	margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #1a1a1a;
    text-transform: uppercase;
    border-radius: 35px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2; 
    transition: 1s;
}
.quote-des .btn-info:hover{
	color: #fff;
    background: linear-gradient(to right, #511de5 55%, #0d89fb);
    border: 1px solid #511de5; 
}
/******************************/
.efficient{
	width: 100%;
	padding: 0px 0px 50px;
}
.efficient .inner-effi{
	width: 100%;
	padding: 0px 0px 30px;
	margin-top: 55px;
}
.efficient .inner-effi h2{
	font-size: 50px;
    line-height: 50px;
    font-weight: 900;
    color: #1a1a1a;
    margin-bottom: 20px;
} 
.efficient .inner-effi p{
	font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #1a1a1a;
    margin-bottom: 20px;
} 
.efficient .inner-effi h6{
	font-size: 14px;
    line-height: 24px;
    font-weight: 800;
    color: #1a1a1a;
} 
.efficient .inner-effi h6 img{
	margin-right: 10px;
}
.efficient .inner-effi .btn-info{
	padding: 10px 30px;
	margin: 40px 0px 30px;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 35px;
    background: linear-gradient(to right, #511de5 55%, #0d89fb);
    border: 1px solid #f2f2f2;
    color: #fff; 
    transition: 1s;
}
.efficient .inner-effi .btn-info:hover, .efficient .inner-effi .btn-info:focus{
	color: #511de5; 
	background: transparent;
	border: 1px solid #511de5;
	transition: 2s;
	box-shadow: none;
}
/****************************/
.design{
	width: 100%;
	padding: 60px 0px 25px;
	background: #fcfcfc;
}
.design .title{
	width: 100%;
	padding: 30px 0px 50px;
	text-align: center;
}
.design .title h1{
	font-size: 50px;
    line-height: 50px;
    font-weight: 900;
    color: #1a1a1a;
    margin-bottom: 40px;
}
.design .title p{
	font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #1a1a1a;
    margin-bottom: 25px;
}
.design .design-inner{
	width: 100%;
	padding: 30px 40px;
	text-align: center;
}
.design .design-inner img{
	mix-blend-mode: darken; 
}
.design .design-inner h5{
	font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    color: #1a1a1a;
    margin-bottom: 10px;
}
.design .design-inner p{
	font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #1a1a1a;
    margin-bottom: 10px;
}
.design .bor{
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2; 
}
/**************************************/
.testimonial{
	width: 100%;
	padding: 40px 0px 80px;
}
.testimonial .title{
	width: 100%;
	padding: 30px 0px;
	text-align: center;
}
.testimonial .title h1{
	font-size: 60px;
    line-height: 70px;
    font-weight: 900;
    color: #1a1a1a;
    margin-bottom: 40px;
}
.testi-inner{
	width: 100%;
	padding: 0px;
	background: url("../images/coma.png") center top no-repeat;
	background-size: cover;
	box-shadow: 1px 4px 10px #ccc;
	opacity: .5;
}
.testi-inner:hover{
	opacity: 1;
}
.testi-inner .text-inner{
	width: 100%;
	padding: 65px 0px 40px;
	text-align: center;
	border-bottom: 1px solid #f2f2f2;
}
.testi-inner .text-inner h4{
	font-size: 14px;
	line-height: 24px;
	font-weight: 600;
	margin: 20px;
}
.testi-inner:hover .text-inner h4{
	color: #511de5;
}
.testi-inner .client-inner{
	width: 100%;
	padding: 20px 0px 10px;
	text-align: center;
}
.testi-inner .client-inner img{

}
.testi-inner .client-inner h4{
	font-size: 15px;
	line-height: 25px;
	font-weight: 900;
	margin: 10px 0px 0px;
	text-transform: uppercase;
}
.testi-inner .client-inner p{
	font-size: 14px;
	line-height: 24px;
	color: #1a1a1a;
}
/*************************************/
.footer-section{
	width: 100%;
	padding: 50px 0px 60px;
	background: url("../images/bg.png") center bottom no-repeat;
	background-size: contain;
}
.footer-section .faq{
	width: 100%;
	padding: 70px 80px;
	margin-bottom: 35px;
	background: #fff;
	box-shadow: 1px 4px 10px #ccc;
}
.footer-section .faq .title{
	width: 100%;
	padding: 10px 0px 30px;
	text-align: center;
}
.footer-section .faq .title h1{
	font-size: 75px;
    line-height: 85px;
    font-weight: 1000;
    color: #1a1a1a;
    margin-bottom: 90px;
}
.footer-section .faq .card{
	background-color: #fff;
	border: none;
}
.footer-section .faq .card-header{
	padding: .75rem 0rem;
	background-color: #fff;
	border-bottom: 0px; 
}
.footer-section .faq .card-body{
	padding: 13px;
}
.footer-section .faq .btn-link{
	font-weight: 700;
	color: #000;
	font-size: 16px;
}
.footer-section .faq .btn-link:hover{
	color: #511de5;
	text-decoration: none; 
}
.footer-section .faq .btn-link:focus {
    color: #511de5;
    outline: none;
    box-shadow: none;
    text-decoration: none; 
}
/*****************************/
.footer-menu {
    width: 100%;
    text-align: left;
    margin-top: 50px;
}
.footer-menu ul {
    display: block;
}
.footer-menu ul li {
	font-size: 15px;
	font-weight: 500;
    display: inline-block;
    margin-right: 15px;
}
.footer-menu ul li a {
    text-decoration: none;
    color: #ffffff;
}
.footer-copyright {
	margin-top: 50px;
	width: 100%;
	text-align: right;
}
.footer-copyright p {
    font-size: 15px;
	font-weight: 500;
    color: #ffffff;
}

/**********Media Queries start here**********/
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  	
  	.header-section {
    	background-size: cover;
  	}
  	.menu-section .navbar-light .navbar-nav .nav-link:hover, .menu-section .navbar-light .navbar-nav .nav-link:focus{
	  	width: 85px;
	}
  	.menu-section .right-login .nav-link {
	    margin: 0px 0px;
	    margin-left: 65%;
	    margin-top: -5px;
	    margin-right: 5%;
	}
	.banner-section {
    	padding: 0px 0px;
  	}
  	.banner-section .banner-inner h1 {
	    font-size: 34px;
	    line-height: 43px;
	}
	.highlight-section{
		padding: 35px 0px;
		margin-bottom: 20px;
	}
	.highlight-section .absu {
	    position: absolute;
	    top: -175%;
	    width: 230px;
	}
	.highlight-section .highlight-inner h2 {
   		font-size: 18px;
   	}
   	.feature {
		padding: 0px 30px 0px;
	}
	.feature .feature-inner {
    	background: url(../images/fe.png) center top no-repeat;
    	background-size: cover;
    	padding: 70px 12px 95px;
	}
	.feature .feature-inner h1 {
	    font-size: 34px;
	    line-height: 36px;
	    font-weight: 700;
	    margin-bottom: 15px;
	    padding-left: 52px;
	}
	.feature .feature-inner p {
	    font-size: 16px;
	    line-height: 20px;
	    margin-bottom: 20px;
		padding-left: 52px;
		padding-right: 270px;
	}
	.feature .feature-inner h4 strong {
	    font-size: 60px;
	    line-height: 80px;
	    font-weight: 900;
	    margin-bottom: 20px;
	    padding-left: 50px; 
	}
	.feature .feature-inner h4 span {
    	font-size: 13px;
    }
    .client {
    	padding: 30px 80px 0px;
	}
	.pic-quote {
	    width: 118%;
	    padding: 75px 0px 75px 65px;
	    background: url(../images/qt.png) center center no-repeat;
	    background-size: contain;
	}
	.pic-quote p {
	    font-size: 12px;
	    margin: 30px 0px 0px 25px;
	}	
	.pic-quote h5 {
	    font-size: 13px;
	    font-weight: 600;
	}
	.quote-des { 
	    padding: 80px 5px 0px 55px;
	}
	.quote-des h1 {
	    font-size: 30px;
	    line-height: 35px;
	    margin-bottom: 18px;
	}
	.efficient .inner-effi {
	    margin-top: -15px;
	}
	.efficient .inner-effi h2 {
	    font-size: 28px;
	    line-height: 32px;
	    font-weight: 800;
	    margin-bottom: 12px;
	}
	.efficient .inner-effi h6 {
	    font-size: 11px;
	    line-height: 30px;
	    font-weight: 800;
	}
	.efficient .inner-effi p {
    	font-size: 16px; 
    	line-height: 22px;
   	}
   	.efficient .inner-effi .btn-info {
    	margin: 20px 0px 30px;
    }
    .design{
    	padding-top: 30px;
    }
    .design .title h1 {
		font-size: 30px;
		line-height: 34px;
		font-weight: 800;
		margin-bottom: 25px;
	}
	.design .design-inner{
		padding: 30px 0px;
	}
	.design .design-inner h5 {
	    font-size: 17px;
	    line-height: 25px;
	    margin-top: 20px;
	}
	.design .design-inner p {
	    font-size: 14px;
	}
	.testimonial {
	    padding: 20px 0px;
	}
	.testimonial .title h1 {
	    font-size: 35px;
	    line-height: 10px;
	    font-weight: 800;
	    margin-bottom: 35px;
	}
	.testi-inner .text-inner {
    	padding: 20px 0px 0px;
    }
    .testi-inner .text-inner h4 {
	    font-size: 14px;
	    line-height: 24px;
	    font-weight: 600;
	    margin: 20px 10px;
	}
	.footer-section{
		padding-bottom: 40px;
	}
	.footer-section .faq {
	    width: 100%;
	    padding: 60px 70px;
	    margin-bottom: -6px;
	}
	.footer-section .faq .title h1 {
	    font-size: 40px;
	    line-height: 50px;
	    margin-bottom: 0px;
	}
}
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  	.menu-section .navbar-light .navbar-nav .nav-link:hover, .menu-section .navbar-light .navbar-nav .nav-link:focus{
		width: 100%;
		color: #511de5;
		background: url("../images/underline.png") center bottom no-repeat;
		background-size: contain;
	}
	.menu-section .right-login .nav-link {
		color: #1a1a1a;
	    font-size: 14px;
	    font-weight: 600;
	    margin: 0px 15px;
	}
	.feature .feature-inner {
		background-size: contain;
		padding: 75px 130px 120px;	
	}
	.pic-quote {
	    width: 118%;
	    padding: 75px 0px 75px 130px;
	} 
	.efficient .inner-effi {
    	margin-top: 10px;
    }
	.efficient .inner-effi p {
    	font-size: 20px;
    	line-height: 28px;	
   	}
   	.efficient .inner-effi h6 {
    	font-size: 13px;
    }
   	.efficient .inner-effi .btn-info {
    	margin: 20px 0px 30px;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  	.header-section {
    	background-size: cover;
  	}
  	.menu-section .navbar-light .navbar-nav .nav-link:hover, .menu-section .navbar-light .navbar-nav .nav-link:focus{
	  	width: 85px;
	  	background: none;
	}
  	.menu-section .right-login .nav-link {
	    margin: 0px 0px;
	    margin-left: -1%;
	    margin-top: -5px;
	    margin-right: 53%;
	}
	.menu-section .right-login .btn-info {
    	padding: 5px 18px;
	}
	.banner-section {
    	padding: 0px 0px;
  	}
  	.banner-section .banner-inner h1 {
		font-size: 25px;
	    line-height: 29px;
	    text-align: left;
	    margin-bottom: 15px;
	    margin-top: -66px;
	    padding-left: 25px;
	}
	.banner-section .banner-inner .btn-info {
	    padding: 6px 15px;
	    margin-left: -306px;
	    font-size: 12px;
	    letter-spacing: 2px;
	    position: absolute;
	}
	.highlight-section{
		padding: 35px 0px;
		margin-bottom: 20px;
	}
	.highlight-section .absu {
	    position: absolute;
	    top: -190%;
	    width: 140px;
	}
	.highlight-section .highlight-inner h2 {
   		font-size: 11px;
   		line-height: 16px;
   		margin-left: 80px;
   	}
   	
  	.feature {
		padding: 10px 0px 10px;
	}
	.feature .feature-inner {
    	background: url(../images/fe.png) center bottom no-repeat;
    	background-size: cover;
    	padding: 30px 10px 30px;
	}
	.feature .feature-inner h1 {
	    font-size: 18px;
	    line-height: 23px;
	    font-weight: 700;
	    margin-bottom: 15px;
	}
	.feature .feature-inner p {
	    font-size: 11px;
	    line-height: 17px;
	    margin-bottom: 20px;
	    padding-right: 90px;
	}
	.feature .feature-inner h4 strong {
	    font-size: 30px;
	    line-height: 40px;
	    font-weight: 900;
	    margin-bottom: 20px;
	}
	.feature .feature-inner h4 span {
    	font-size: 13px;
    }
    .client {
    	padding: 30px 0px 0px;
	}
	.intro-quote{
		padding: 20px 0px;
	}
	.pic-quote {
	    width: 100%;
	    padding: 75px 0px 75px 75px;
	    background: url(../images/qt.png) center center no-repeat;
	    background-size: contain;
	}
	.pic-quote p {
	    font-size: 12px;
	    margin: 30px 0px 0px 25px;
	}	
	.pic-quote h5 {
	    font-size: 11px;
	    font-weight: 600;
	}
	.quote-des { 
	    padding: 40px 0px 55px;
	    text-align: center;
	}
	.quote-des h1 {
	    font-size: 20px;
	    line-height: 26px;
	    margin-bottom: 18px;
	}
	.efficient .inner-effi {
	    margin-top: -15px;
	}
	.efficient .inner-effi h2 {
	    font-size: 17px;
	    line-height: 24px;
	    font-weight: 700;
	    margin-bottom: 12px;
	}
	.efficient .inner-effi h6 {
	    font-size: 11px;
	    line-height: 20px;
	    font-weight: 800;
	}
	.efficient .inner-effi p {
    	font-size: 10px; 
    	line-height: 18px;
   	}
   	.efficient .inner-effi .btn-info {
    	margin: 20px 0px 0px 0px;
    	padding: 10px 18px;
	    font-size: 11px;
	    letter-spacing: 2px;
    }
    .design{
    	padding: 0px;
    }
    .design .title {
    	padding: 10px 0px 20px;
    }
    .design .title h1 {
		font-size: 18px;
		line-height: 23px;
		margin-bottom: 15px;
	}
	.design .title p {
	    font-size: 13px;
	    line-height: 22px;
	    padding: 0px 43px;
	    margin-bottom: 15px;
	}
	.design .design-inner{
		padding: 30px 0px;
	}
	.design .design-inner h5 {
	    font-size: 17px;
	    line-height: 25px;
	    margin-top: 20px;
	}
	.design .design-inner p {
	    font-size: 14px;
	}
	.testimonial {
	    padding: 10px 0px;
	}
	.testimonial .col-md-3{
		padding: 0px 50px;
	}
	.testimonial .title h1 {
	    font-size: 19px;
	    line-height: 10px;
	    margin-bottom: 20px;
	}
	.testi-inner{
		margin-bottom: 40px;
	}
	.testi-inner .text-inner {
    	padding: 20px 0px 0px;
    }
    .testi-inner .text-inner h4 {
	    font-size: 14px;
	    line-height: 24px;
	    font-weight: 600;
	    margin: 20px 10px;
	}
	.footer-section{
		padding-bottom: 0px;
		padding-top: 0px;
		background-size: cover;
	}
	.footer-section .faq {
	    padding: 15px 10px;
	    margin-bottom: 0px;
	}
	.footer-section .faq .title h1 {
	    font-size: 22px;
	    line-height: 27px;
	    margin-bottom: 0px;
	}
	.footer-section .faq .btn-link {
		font-size: 13px;
	}
	.footer-section .faq .card-body{
		padding-top: 0px;
	}
	.footer-menu ul{
		margin-top: -30px;
	}
	.footer-menu ul li {
	    font-size: 13px;
	    margin: 0px 15px 0px 0px;
	}
	.footer-copyright p {
	    font-size: 12px;
	    text-align: left;
	    margin-top: -50px;
	    padding-bottom: 10px;
	}
}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  	.header-section {
    	background-size: cover;
  	}
  	.menu-section .navbar-light .navbar-nav .nav-link:hover, .menu-section .navbar-light .navbar-nav .nav-link:focus{
	  	width: 85px;
	  	background: none;
	}
  	.menu-section .right-login .nav-link {
	    margin: 0px 0px;
	    margin-left: -1%;
	    margin-top: -5px;
	    margin-right: 72%;
	}
	.menu-section .right-login .btn-info {
    	padding: 5px 18px;
	}
	.banner-section {
    	padding: 0px 0px;
  	}
  	.banner-section .banner-inner h1 {
		font-size: 25px;
	    line-height: 29px;
	    text-align: left;
	    margin-bottom: 15px;
	    margin-top: -66px;
	    padding-left: 25px;
	}
	.banner-section .banner-inner .btn-info {
	    padding: 6px 15px;
	    margin-left: -485px;
	    font-size: 12px;
	    letter-spacing: 2px;
	    position: absolute;
	}
	.highlight-section{
		padding: 35px 0px;
		margin-bottom: 20px;
	}
	.highlight-section .absu {
	    position: absolute;
	    top: -220%;
	    width: 200px;
	}
	.highlight-section .highlight-inner h2 {
   		font-size: 11px;
   		line-height: 16px;
   		margin-left: 0px;
   	}
   	.feature {
		padding: 0px 30px 0px;
	}
	.feature .feature-inner {
    	padding: 30px 55px !important;
	}
	.feature .feature-inner h1 {
	    font-size: 34px;
	    line-height: 36px;
	    font-weight: 700;
	    margin-bottom: 15px;
	}
	.feature .feature-inner p {
		padding-right: 165px !important;
	}
	.feature .feature-inner h4 strong {
	    font-size: 60px;
	    line-height: 80px;
	    font-weight: 900;
	    margin-bottom: 20px;
	}
	.feature .feature-inner h4 span {
    	font-size: 13px;
    }
    .client {
    	padding: 30px 0px 0px;
	}
	.intro-quote{
		padding: 20px 0px;
	}
	.pic-quote {
	    padding: 75px 0px 75px 170px;
	}
	.pic-quote p {
	    font-size: 12px;
	    margin: 30px 0px 0px 25px;
	}	
	.pic-quote h5 {
	    font-size: 11px;
	    font-weight: 600;
	}
	.quote-des { 
	    padding: 40px 0px 40px;
	    text-align: center;
	}
	.quote-des h1 {
	    font-size: 25px;
	    line-height: 30px;
	}
	.efficient .inner-effi {
	    margin-top: -15px;
	}
	.efficient .inner-effi h2 {
	    font-size: 20px;
	    line-height: 28px;
	    font-weight: 700;
	    margin-bottom: 12px;
	}
	.efficient .inner-effi h6 {
	    font-size: 13px;
	    line-height: 20px;
	    font-weight: 800;
	}
	.efficient .inner-effi p {
    	font-size: 12px; 
    	line-height: 18px;
	}
   	.efficient .inner-effi .btn-info {
    	margin: 20px 0px 0px 0px;
    	padding: 10px 18px;
	    font-size: 11px;
	    letter-spacing: 2px;
    }
    .design{
    	padding: 0px;
    }
    .design .title {
    	padding: 10px 0px 20px;
    }
    .design .title h1 {
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 15px;
	}
	.design .title p {
	    font-size: 13px;
	    line-height: 23px;
	    padding: 0px 15px;
	    margin-bottom: 15px;
	}
	.design .design-inner{
		padding: 30px 0px;
	}
	.design .design-inner h5 {
	    font-size: 17px;
	    line-height: 25px;
	    margin-top: 20px;
	}
	.design .design-inner p {
	    font-size: 14px;
	}
	.testimonial {
	    padding: 10px 0px;
	}
	.testimonial .col-md-3{
		padding: 0px 50px;
	}
	.testimonial .title h1 {
	    font-size: 19px;
	    line-height: 10px;
	    margin-bottom: 20px;
	}
	.testi-inner{
		margin-bottom: 40px;
		padding: 0px 30px;
	}
	.testi-inner .text-inner {
    	padding: 20px 0px 0px;
    }
    .testi-inner .text-inner h4 {
	    font-size: 14px;
	    line-height: 24px;
	    font-weight: 600;
	    margin: 20px 10px;
	}
	.footer-section{
		padding-bottom: 0px;
		padding-top: 0px;
		background-size: cover;
	}
	.footer-section .faq {
	    padding: 15px 10px;
	    margin-bottom: 0px;
	}
	.footer-section .faq .title h1 {
	    font-size: 22px;
	    line-height: 27px;
	    margin-bottom: 0px;
	}
	.footer-section .faq .btn-link {
		font-size: 13px;
	}
	.footer-section .faq .card-body{
		padding-top: 0px;
	}
	.footer-menu ul{
		margin-top: -30px;
	}
	.footer-menu ul li {
	    font-size: 13px;
	    margin: 0px 15px 0px 0px;
	}
	.footer-copyright p {
	    font-size: 12px;
	    text-align: left;
	    margin-top: -50px;
	    padding-bottom: 10px;
	}
  
}
